<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Boolzap</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>

    <div id="app">

        <div id="left-section">

            <div id="user-bar">
                <div class="wrapper-user-avatar">
                    <img src="img/Avatars Set Flat Style-50.png" alt="">
                    <span>Raffaele</span>
                </div>
                <div class="wrapper-user-icons">
                    <ul>
                    <li>
                        <i class="fas fa-circle-notch"></i>
                    </li>
                    <li>
                        <i class="fas fa-comment-alt"></i>
                    </li>
                    <li>
                        <i class="fas fa-ellipsis-v"></i>
                    </li>
                </ul>
                </div>
            </div>

            <div id="set-notification">
                <div class="icon-notification">
                    <div class="wrapper-icon-notification">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                </div>
                <div class="set-notification-alert">
                    <span>Receive notifications of a new message</span>
                    <a href="#">Enable desktop notifications</a>
                </div>
            </div>

            <div id="search-box-wrapper">
                <button><i class="fas fa-search"></i></button>
                <input v-model="chat" type="text" placeholder="Search">
            </div>

            <div id="chats-box">
                <ul>
                    <li @click="getCurrent(contact,index)"  :class="{active : selected === index}" v-for="(contact,index) in filteredChat">
                        <div class="avatar-contact-wrapper">
                            <div class="wrapper-icon-contact">
                                <img :src="contact.avatar" alt="">
                            </div>
                        </div>
                        <div class="contact-box-info">
                            <span>{{contact.name}}</span>
                            <p v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length - 1].text}}</p>
                        </div>
                        <div id="time-wrapper">
                            <span v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length - 1].date}}</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div id="right-section">

            <div  id="contact-message-bar">
                <div class="wrapper-contact-avatar">
                    <img :src="contacts[index].avatar"  alt="">
                    <div class="contact-info">
                        <span>{{contacts[index].name}}</span>
                        <span v-if="contacts[index].messages.length > 0" >
                            {{getLastSeen(index)}}
                        </span>
                        <!-- <span v-else-if="contacts[index].messages.length = 0">Last seen {{getLastSeen}}</span> -->
                    </div>
                </div>
                <div class="wrapper-contact-icons">
                    <ul>
                        <li>
                            <i class="fas fa-search"></i>
                        </li>
                        <li>
                            <i class="fas fa-paperclip"></i>
                        </li>
                        <li>
                            <i class="fas fa-ellipsis-v"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="chat">
                <div id="chat-background">
                    <div v-for="(message,index) in currentMessage" class="wrapper-message">
                        <div 
                        @mouseenter="isHovering = true, hoveredMessage = index" 
                        @mouseleave="isHovering = false"  
                        :class="{recivedMessage : message.status == 'received', sentMessage : message.status == 'sent'}">
                            <p>{{message.text}}</p>
                            <span :class="[isHovering && hoveredMessage === index ? 'hovering' : '']" class="dropdown">
                                <i @click="showOptions(index)" class="fas fa-chevron-down" ></i>
                                <div :class="[isShow && selectedMessage === index ? 'show' : '']" class="options-message">
                                    <span>Message info</span>
                                    <span @click="deleteMessage(index)">Delete Message</span>
                                </div>
                            </span>
                            <p id="date-message">{{message.date}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="input-box">
                <div id="wrapper-emoticon">
                    <i class="far fa-laugh"></i>
                </div>
                <div id="message-bar-wrapper">
                    <input v-on:keyup.enter="sendMessage" v-model="newMessage" type="text" placeholder="Type a message">
                </div>
                <div id="wrapper-microphone">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>

        </div>

    </div>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>