<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Boolzap</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>

    <div id="app">

        <div id="left-section">

            <div id="user-bar">
                <div class="wrapper-user-avatar">
                    <img src="img/Avatars Set Flat Style-50.png" alt="">
                    <span>Raffaele</span>
                </div>
                <div class="wrapper-user-icons">
                    <ul>
                    <li>
                        <i class="fas fa-circle-notch"></i>
                    </li>
                    <li>
                        <i class="fas fa-comment-alt"></i>
                    </li>
                    <li>
                        <i class="fas fa-ellipsis-v"></i>
                    </li>
                </ul>
                </div>
            </div>

            <div id="set-notification">
                <div class="icon-notification">
                    <div class="wrapper-icon-notification">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                </div>
                <div class="set-notification-alert">
                    <span>Receive notifications of a new message</span>
                    <a href="#">Enable desktop notifications</a>
                </div>
            </div>

            <div id="search-box-wrapper">
                <button><i class="fas fa-search"></i></button>
                <input type="text" placeholder="Search">
            </div>

            <div id="chats-box">
                <ul>
                    <li @click="getCurrent(contact,index)"  :class="{active : selected === index}" v-for="(contact,index) in contacts">
                        <div class="avatar-contact-wrapper">
                            <div class="wrapper-icon-contact">
                                <img :src="contact.avatar" alt="">
                            </div>
                        </div>
                        <div class="contact-box-info">
                            <span>{{contact.name}}</span>
                            <p>{{contact.messages[contact.messages.length - 1].text}}</p>
                        </div>
                        <div id="time-wrapper">
                            <span>{{contact.messages[contact.messages.length - 1].date}}</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div id="right-section">

            <div  id="contact-message-bar">
                <div class="wrapper-contact-avatar">
                    <img :src="currentContact.avatar"  alt="">
                    <div class="contact-info">
                        <span>{{currentContact.name}}</span>
                        <span>Last seen {{contacts[index].messages[contacts[index].messages.length - 1].date}}</span>
                    </div>
                </div>
                <div class="wrapper-contact-icons">
                    <ul>
                        <li>
                            <i class="fas fa-search"></i>
                        </li>
                        <li>
                            <i class="fas fa-paperclip"></i>
                        </li>
                        <li>
                            <i class="fas fa-ellipsis-v"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="chat">
                <div id="chat-background">
                    <div v-for="message in currentMessage" class="wrapper-message">
                        <div :class="{recivedMessage : message.status == 'received', sentMessage : message.status == 'sent'}">
                            <span id="tail"></span>
                            <p>{{message.text}}</p>
                            <p id="date-message">{{message.date}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="input-box">
                <div id="wrapper-emoticon">
                    <i class="far fa-laugh"></i>
                </div>
                <div id="message-bar-wrapper">
                    <input type="text" placeholder="Type a message">
                </div>
                <div id="wrapper-microphone">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>

        </div>

    </div>

    <script src="js/app.js"></script>
</body>
</html>